<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayApp-Tartozások</title>
    <link href="../static/css/general.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../static/css/theme.css" rel="stylesheet">
</head>
<body>
<div class=" ">

    <ul class="nav nav-tabs">
        <li class="active col-md-4"><a href="#">Tartozások</a></li>
        <li class="col-md-4"><a href="New_debt.html">Új Tartozás</a></li>
        <li class="col-md-4"><a href="Approve_settle.html">Rendezés jováhagyása</a></li>
    </ul>
    <br>

    <div class="row col-md-8 col-md-push-2 ">
        <div class="col-md-6">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Akiknek tartozok</th>
                    <th>Összeg</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="Debt_details.html"> John Doe</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="Debt_details.html"> Simpson Moe</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="Debt_details.html"> Dooley Fooly</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="Debt_details.html"> Nack Nuckanka</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="Debt_details.html"> Axl Foley</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="Debt_details.html"> Axl Rose</a></td>
                    <td>2000 Ft</td>
                </tr>
                </tbody>
            </table>
            <div class="row  text-center"> Összesen:17000</div>
        </div>
        <div class="col-md-6">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Akik tartozok</th>
                    <th>Összeg</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="Debt_details.html"> John Doe</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="Debt_details.html"> Simpson Moe</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="Debt_details.html"> Dooley Fooly</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="Debt_details.html"> Nack Nuckanka</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="Debt_details.html"> Axl Foley</a></td>
                    <td>3000 Ft</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="Debt_details.html"> Axl Rose</a></td>
                    <td>2000 Ft</td>
                </tr>
                </tbody>

            </table>
            <div class="row  text-center"> Összesen:17000</div>

        </div>


</body>
</html>