<%- include('header') %>
 <div class="jumbotron vertical-center">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class=" col-md-push-3 col-md-6 ">
                    <h2>Register</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-push-3 col-md-6 col-xs-12">

                    <form>
                        <div class="form-group">
                            <label for="fname">Full Name</label>
                            <input type="text" class="form-control" id="fname" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="purl">Picture Url</label>
                            <input type="text" class="form-control" id="purl" placeholder="">
                        </div>


                        <a href="Home" class="btn btn-primary">Register</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>